<h3>You selected department with id = {{departmentId}}</h3>

<p>
    <button (click)='showOverview()'>Overview</button>
    <button (click)='showContact()'>Contact</button>
</p>
<router-outlet></router-outlet>

<p>
    <button (click)="goPrevious()">Previous</button>
    <button (click)="goNext()">Next</button>
</p>


<button (click)="gotoDepartments()">Back</button>