<h2>Departments</h2>

<h3>{{errorMsg}}</h3>

<ul class="items">
  <li (click)="navigateToDepartmentDetails(department)" [class.selected]="isSelected(department)" *ngFor="let department of departments">
    <span class="badge">{{department.id}}</span> {{department.name}}
  </li>
</ul>